<a href="https://colab.research.google.com/github/bigdata233/Advanced-Regression-Anlysis-R-Practice/blob/main/01_(%EA%B3%A0%EA%B8%89%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D)_%ED%96%89%EB%A0%AC%EC%9D%98_%EA%B8%B0%EC%B4%88_%EC%9D%B4%EB%A1%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a<-1:5
a
class(a)

[1] 1 2 3 4 5

[1] "integer"

In [ ]:
#a의 클래스는 정수형으로 벡터의 차원은 알 수 없다. 만약 a를 열벡터로 하고 싶다면 행렬을 사용하여 다음과 같이 변환할 수 있다.
A<-matrix(a,ncol=1)
class(A)
A

[1] "matrix" "array"

     [,1]
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5

In [ ]:
x<-seq(1,4,1)
x+2
2+x

[1] 3 4 5 6

[1] 3 4 5 6

In [ ]:
5*x
x*5

[1]  5 10 15 20

[1]  5 10 15 20

In [ ]:
#행렬의 곱
A<-matrix(1:4, nrow = 2)
B<-matrix(7:10, nrow = 2)
A*B

     [,1] [,2]
[1,]  7   27
[2,] 16   40

In [ ]:
#행렬의 내적(dot product)
A%*%B
B%*%A

     [,1] [,2]
[1,] 31   39
[2,] 46   58

     [,1] [,2]
[1,] 25   57
[2,] 28   64

In [ ]:
# 행렬에 벡터를 곱할 경우 R은 행렬곱에서 요구되는 규칙에 부합되도록 열벡터 또는 행벡터로 자연스럽게 사용된다.

y<-c(3,4)
A%*%y #y는 열벡터
y%*%A #y는 행벡터

     [,1]
[1,] 15
[2,] 22

     [,1] [,2]
[1,] 11   25

In [ ]:
A<-matrix(c(2,sqrt(6),sqrt(6),1),2,2)
print(A)

        [,1]    [,2]
[1,] 2.00000 2.44949
[2,] 2.44949 1.00000

In [ ]:
#행렬 A는 symmetric matrix이므로 transpose matrix도 A가 된다. 전치행렬은 t() 함수를 통해 구할 수 있다.
t(A)

     [,1]    [,2]
[1,] 2.00000 2.44949
[2,] 2.44949 1.00000

In [ ]:
det(A)  #행렬식
solve(A)  #역행렬

[1] -4

     [,1]       [,2]
[1,] -0.2500000  0.6123724
[2,]  0.6123724 -0.5000000

In [ ]:
#행렬 A와 같이 정방행렬이 아닌 행렬의 역행렬을 구하기 위해서 '일반화된 역행렬'을 구할 수 있는데, MASS 패키지의 ginv()함수를 사용할 수 있다.
M<-matrix(1:6, nrow=2)
M
require(MASS)
ginv(M)

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

Loading required package: MASS

     [,1]       [,2]
[1,] -1.3333333  1.0833333
[2,] -0.3333333  0.3333333
[3,]  0.6666667 -0.4166667

In [ ]:
#이와 같은 경우에도 행렬M과 ginv(M)의 곱은 단위행렬이 된다.
M%*%ginv(M)

     [,1]         [,2]
[1,] 1.000000e+00 -3.330669e-16
[2,] 2.220446e-15  1.000000e+00

In [ ]:
A<-matrix(1:4, nrow=2);A
b<-c(4,6);b
print(solve(A,b)) #Ax=b의 x값을 구하는 방법(연립선형방정식의 해 구하기)

     [,1] [,2]
[1,] 1    3
[2,] 2    4

[1] 4 6

[1] 1 1

In [ ]:
#고윳값과 고유벡터값 구하기
A<-matrix(c(2,sqrt(6),sqrt(6),1),2,2)
eigen(A)

In [ ]:
#행렬의 분해
#p=2인 설명변수를 갖는 중회귀모형으로부터 자료를 생성
#설명변수 행렬x1은 5x2행렬
#QR분해를 통해 회귀계수추정량(베타)를 계산
#qr()함수를 사용 후 qr.Q()함수와 qr.R()함수를 통해 구할 수 있다.

set.seed(0153)
x1=matrix(rnorm(10), 5,2);x1
y1=x1[,1]+rnorm(5)

qrx1=qr(x1)
x1.Q<-qr.Q(qrx1);x1.Q #서로 직교인 열로 이루어진 5x2행렬 Q
x1.R<-qr.R(qrx1);x1.R #2x2 상삼각행렬 R

     [,1]      [,2]
[1,]  2.819099 -0.3191096
[2,] -0.524167 -1.3198173
[3,]  1.194761 -2.2864853
[4,] -1.741019 -0.7891444
[5,] -0.449941 -0.8128883

     [,1]       [,2]
[1,] -0.7854161 -0.01969199
[2,]  0.1460358 -0.47668537
[3,] -0.3328669 -0.75760604
[4,]  0.4850573 -0.33133092
[5,]  0.1253560 -0.29771830

     [,1]      [,2]
[1,] -3.589306 0.3343079
[2,]  0.000000 2.8711563

In [ ]:
#2x1 회귀계수 벡터베타를 구하기 위해 qr.solve()함수를 사용하면 된다.
## (Rβ=Q'y)이므로 (β=R^-1Q'y)이다.
beta1.1=qr.solve(x1.R, t(x1.Q)%*%y1)
## (x'xβ=x'y)이므로 (β=(x'x)^-1x'y)이다.
beta2.1=qr.solve(t(x1)%*%x1, t(x1)%*%y1)
cbind(beta1.1, beta2.1)

#위 결과를 통해 QR decompostion으로 추정한 β와 중회귀분석 정규방정식을 QR식으로 추정한 β의 해가 같음을 확인할 수 있다.
#또한, 중회귀분석 정규방정식으로 추정한 β는 '최소제곱추정량'이 된다. 즉, 역행렬 solve()함수로도 beta2.1과 비슷한 양상의 식을 구할 수 있다.
beta3.1=solve(t(x1)%*%x1)%*%t(x1)%*%y1; beta3.1

     [,1]       [,2]
[1,]  0.6965159  0.6965159
[2,] -0.2738166 -0.2738166

     [,1]
[1,]  0.6965159
[2,] -0.2738166

In [16]:
#QR 분해의 장점을 살펴보기 위해 p=500의 설명변수를 갖는 경우를 살펴보자.
set.seed(0231)
x2=matrix(rnorm(500000), 1000, 500)
y2=x2[,1]+rnorm(1000)
qrx2=qr(x2)
x2.R=qr.R(qrx2)
x2.Q=qr.Q(qrx2)

In [17]:
#β추정량을 계산하는데 걸리는 시간을 비교해보자.
start.time=Sys.time()
beta1.2=qr.solve(x2.R, t(x2.Q)%*%y2)  # QR분해 추정량
end1.time=Sys.time()
beta2.2=qr.solve(t(x2)%*%x2, t(x2)%*%y2)  # 정규방정식의 QR식 분해 추정량
end2.time=Sys.time()
beta3.2=solve(t(x2)%*%x2)%*%t(x2)%*%y2  # 최소제곱추정량
end3.time=Sys.time()
time.taken.beta1=end1.time-start.time
time.taken.beta2=end2.time-end1.time
time.taken.beta3=end3.time-end2.time
time.taken.beta1
time.taken.beta2
time.taken.beta3
#위 결과로부터 QR 분해를 이용한 컴퓨팅 시간이 가장 짧은 것을 알 수 있다.

Time difference of 0.04692531 secs

Time difference of 0.06488943 secs

Time difference of 0.07827544 secs

In [19]:
# Var(c'βhat)의 계산에 있어서도 QR 분해가 효율적인지 알아보자.(σ^2은 생략)
c=rep(c(1,-1), 250)
start.time=Sys.time()
var1=c%*%solve(t(x2)%*%x2)%*%c
end1.time=Sys.time()
d=qr.solve(t(x2.R),c)
var2=t(d)%*%d
end2.time=Sys.time()
time.taken.var1=end1.time-start.time
time.taken.var2=end2.time-end1.time
time.taken.var1
time.taken.var2
#위 결과로부터 QR 분해를 이용한 추정량 찾기가 컴퓨팅 부담이 줄어든다는 것을 알 수 있다.

Time difference of 0.04727793 secs

Time difference of 0.0394156 secs